<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Russia North Ecology Base</title>
</head>
<body>
    <h1>Russia North Ecology Base</h1>
    <b>Some text</b>
		<ol>
			<li>Станция {{.Name}}</li>
			<li>Northern Latitude {{.NorthernLatitude}}</li>
			<li>labutin</li>
		</ol>
		<p><a href="//vk.com/ferubko99/">Создатель сайта</a></p>
        {{ if eq .Name "5586"}}
        <span> Station 5586</span>
        {{else}}
        <span> Not 5586</span>
        {{end}}
		<p><a href="#anchor">Перейти к якорю</a></p>
		<dl>
			<dt>MSU</dt><dd> <li> Chemistry Faculty</li>
				<li>Physical Faculty</li></dd>
			<dt>MPTI</dt><dd> <li> FPMI</li>
				<li> FIPT</li></dd>
		</dl>
		<figure>
 			 <img src="//w-dog.ru/wallpapers/9/3/451292977977142/okean-kamni-plyazh-rassvet-gorizont-solnce.jpg">
  			<figcaption>
    			Институт океанологии
  			</figcaption>
		</figure>
		<h1 id="anchor">Other projects from our team</h1>
</body>
</html>